[user]
	name = Rohith Ravi
	email = rohith.ravi@mixpanel.com
[alias]
	co = checkout
	ci = commit
	mt = mergetool
	ctags = !.git/hooks/ctags
[apply]
	whitespace = nowarn
[color]
	diff = auto
	branch = auto
	status = auto
[push]
	default = current
[core]
	excludesfile = ~/.cvsignore
	pager = less -RSXF
[init]
#	templatedir = ~/.git_template
[http]
	cookiefile = /home/rravi/.gitcookies
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/env gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/env gh auth git-credential
