[user]
	name = Rohith Ravi
	email = entombedvirus@gmail.com
[alias]
	co = checkout
	ci = commit
	mt = mergetool
	wip = commit -m wip --no-verify
[apply]
	whitespace = nowarn
[color]
	diff = auto
	branch = auto
	status = auto
[push]
	default = current
[core]
	excludesfile = ~/.cvsignore
	pager = less -RSXF
[init]
#	templatedir = ~/.git_template
[http]
	cookiefile = ~/.gitcookies
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[merge]
	conflictStyle = zdiff3

# For work repositories.
[includeIf "gitdir:~/work/"]
	path = ~/work/.gitconfig-sierra
[rebase]
	# See: https://andrewlock.net/working-with-stacked-branches-in-git-is-easier-with-update-refs/
	updateRefs = true
