[submodule "etc/vim/bundle/taglist.vim"]
	path = etc/vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "etc/vim/bundle/command-t"]
	path = etc/vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "etc/vim/bundle/ack.vim"]
	path = etc/vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "etc/vim/bundle/vim-coffee-script"]
	path = etc/vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "etc/vim/bundle/jade"]
	path = etc/vim/bundle/jade
	url = https://github.com/vim-scripts/jade.vim
[submodule "etc/vim/bundle/Processing"]
	path = etc/vim/bundle/Processing
	url = https://github.com/vim-scripts/Processing.git
[submodule "etc/vim/bundle/nerdcommenter"]
	path = etc/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "etc/vim/bundle/JSON.vim"]
	path = etc/vim/bundle/JSON.vim
	url = https://github.com/vim-scripts/JSON.vim.git
[submodule "etc/vim/bundle/xmledit"]
	path = etc/vim/bundle/xmledit
	url = https://github.com/sukima/xmledit.git
[submodule "etc/vim/bundle/vim-git"]
	path = etc/vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "etc/vim/bundle/vim-thrift"]
	path = etc/vim/bundle/vim-thrift
	url = https://github.com/agrewal/vim-thrift.git
[submodule "etc/vim/bundle/ag.vim"]
	path = etc/vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "etc/vim/bundle/vim-lucius"]
	path = etc/vim/bundle/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius.git
[submodule "etc/vim/bundle/vim-less"]
	path = etc/vim/bundle/vim-less
	url = git@github.com:groenewege/vim-less.git
[submodule "etc/vim/bundle/vim-airline"]
	path = etc/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
