[submodule "etc/vim/bundle/taglist.vim"]
	path = etc/vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "etc/vim/bundle/command-t"]
	path = etc/vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "etc/vim/bundle/ack.vim"]
	path = etc/vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "etc/vim/bundle/nerdcommenter"]
	path = etc/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
